.empty {
	margin-top: 1.5rem;
	border-top: 1px solid var(--gray-400);
	border-radius: 15px;
	text-align: center;
	color: var(--gray-300);
	.emptyContent {
		margin: 4rem 0;
		p:first-of-type {
			margin-top: 0.5rem;
		}
	}
}

.taskContainer {
	margin-top: 1.5rem;
	.taskList {
		& + .taskList {
			margin-top: 0.75rem;
		}

		display: flex;
		justify-content: space-between;
		padding: 1rem 1rem;
		color: var(--gray-100);
		background-color: var(--gray-500);
		
		border: 1px solid var(--gray-400);
		border-radius: 15px;
		.checkbox {
			position: relative;
			label {
				position: absolute;
				top: 0;
				left: 0;
				width: 1.5rem;
				height: 1.5rem;
				background-color: transparent;
				border: 2px solid  var(--blue);
				border-radius: 50%;
				cursor: pointer;
				transition: 
				background-color 300ms ease, 
				colour 300ms ease,
				box-shadow 300ms ease;
				&:after {
					content: '';
					position: absolute;
					top: 38%;
					left: 33%;
					width: 29%;
					height: 14%;
					opacity: 0;
					border-left: 2px solid  var(--gray-100);
					border-bottom: 2px solid var(--gray-100);
					transform: rotate(-45deg);
					transition: opacity 300ms ease;
				}
			}
			  
			input {
				visibility: hidden;
				&:checked + label {
					background-color:  var(--purple-dark);
					border: none;
					color: var(--gray-100);
		
					&:after {
						 opacity: 1;
					}
				}
			}
		}
	
		button {
			background: transparent;
			border: 0;
			color: var(--gray-300);
			cursor: pointer;
	
			display: flex;
			align-items: start;
	
			border-radius: 2px;
		}
	
		.name {
			flex: 1;
			margin-left: 1.5rem;
			&.completed {
				text-decoration: line-through;
				color: var(--gray-300);
			}
		}
		  
	}
}


